.receta__boton{
    background: #DA2B1F;
    color: #FDFDFD;
    border: none;
    border-radius: 5PX;
    padding: 1rem;

}

.receta__boton:hover{
    cursor: pointer;
    background: #9F1010;
    transition: all .1s ease-in-out;
}